{% extends 'base.html' %} {% block body %}
<div class="container my-3">
  <h2>Add a Todo</h2>
  <form action="/" method="POST" class="row g-3">
    <div class="md-6">
      <label for="title" class="form-label">Todo Title</label>
      <input type="text" class="form-control" name="title" id="title" />
    </div>
    <div class="md-6">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" class="form-control" name="desc" id="desc" />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </form>
</div>

<div class="container my-3">
  <h1>Your Todos</h1>

  {% if allTodo|length ==0 %}
  <div class="alert alert-dark" role="alert">
    No Todos Found! Add Your First Todo now.
  </div>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">SNo</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in allTodo %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.desc}}</td>
        <td>{{todo.date_created}}</td>
        <td>
          <button
            onclick="window.location.href='/delete/{{todo.sno}}'"
            type="button"
            class="btn btn-outline-dark btn-sm mx-1"
          >
            Delete
          </button>
          <button
            onclick="window.location.href='/update/{{todo.sno}}'"
            type="button"
            class="btn btn-outline-dark btn-sm mx-1"
          >
            Update
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        -->
{% endblock body %}
